@model JoS.ViewModel.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}
<div class="content">
    <!-- BEGIN RESET PASSWORD FORM -->
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        <form>
            @Html.AntiForgeryToken()
            <h3>Reset your password.</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-type Your Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-actions">
                @Html.ActionLink("Back", "Login", null, new { @class = "btn green btn-outline" })
                <button type="submit" value="Email Link" class="btn btn-success uppercase pull-right">Reset</button>
            </div>
        </form>
    }
    <!-- END RESET PASSWORD FORM -->
</div>